* {
    padding: 0;
    margin: 0;
    font-family: 'Jaldi', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #1e1e1e;
    width: 100vw;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    width: 460px;
    margin-top: 50px;
}

main h1 {
    font-size: 30px;
    color: #fff;
    align-self: center;
}

label {
    color: #fff;
}

.balance-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    min-width: 460px;
    flex-wrap: wrap;
}

.balance {
    font-size: 22px;
    color: #fff;
}

.n-balance {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    color: #fff;
}

.balance-box {
    background-color: #fff;
    height: 121px;
    min-width: 460px;
    border: 2px solid #545454;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px #000000);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.income {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #d4d4d4;
    width: 100%;
}

.expense {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title-t {
    font-size: 22px;
    margin-bottom: -15px;
}

.value-v {
    font-size: 33px;
    font-weight: bold;
    color: #61FF00;
}

.value-e {
    font-size: 33px;
    font-weight: bold;
    color: #ff0000;
}

.transactions-history{
    margin-top: 20px;
}

.history-title {
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid #545454;
}

.history-items{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.history-item-income {
    z-index: 2;
    height: 32px;
    width: 460px;
    background-color: #fff;
    border-radius: 10px;
    border-right: 15px solid #61FF00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    position: relative;
}

.history-item-expense {
    z-index: 2;
    height: 32px;
    width: 460px;
    background-color: #fff;
    border-radius: 10px;
    border-right: 15px solid #ff0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    position: relative;
}

.history-description {
    margin-left: 10px;
}

.history-value {
    margin-right: 5px;
}

.delete-btn {
 z-index: 1;
    background-color: #585858;
    border: 0;
    border-radius: 10px;
    height: 32px;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 20px;
    position: absolute;
    margin-left: -25px;
    margin-top: 10px;
    cursor: pointer;
}

.delete-btn img {
    height: 17px;
    width: 14px;
    margin-left: -13px;
}

.add-transaction {
    margin-top: 25px;
}

.add-transaction-title {
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid #585858;
    margin-bottom: 10px;
}

#addtipo {
    width: 460px;
    height: 37px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#add-description {
    box-sizing: border-box;
    padding: 0px 10px;
    width: 460px;
    border-radius: 10px;
    border: 1px solid #585858;
    font-size: 20px;
    margin-bottom: 20px;
}

#add-value {
    box-sizing: border-box;
    padding: 0px 10px;
    font-size: 20PX;
    width: 460px;
    height: 32px;
    border-radius: 10px;
    border: 1px solid #585858;
}

.form-btn {
    box-sizing: border-box;
    width: 460px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    height: 32px;
    border: 1px solid #585858;
    color: #585858;
    cursor: pointer;
}